html, body {
    width: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    height: auto;
    background-color: #353d46;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Courier New', monospace;
    color: white;
}

h3 {
    font-size: 20px;
    text-align: center;
}

h2 {
    white-space: nowrap;
    overflow: hidden;
    animation: write 5s steps(50) infinite alternate;
    border-right: 2px solid white;
    font-size: 22px;
}

@media (max-width: 1199px) {
    h2 {
        font-size: 16px;
        animation: none;
        white-space: wrap;
        border-right: none;
    }
}


@keyframes write {
    0% {
        width: 0;
    }
    90% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

b {
    font-size: 30px;
    display: block;
    text-align: center;
    margin: auto;
}

.row {
    background-color: rgba(189, 189, 189, 0.25);
    padding: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 15px;
}

#portrait {
    height: auto;
    width: 20vw;
}

ul {
    font-size: 20px;
}

.scaled {
    max-width: 50%;
    height: auto;
}

footer {
    text-align: start;
    align-content: center;
    background-color: rgba(189, 189, 189, 0.25);
    height: 50px;
}

main {
    margin-top: 100px;
}