#portrait {
    height: auto;
    width: 20vw;
}

.jumbotron {
    background-color: rgba(189, 189, 189, 0.31);
    padding: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
}

body {
    background-image: url("../IMG_4296.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', monospace;
}

h2 {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    animation: write 5s steps(50) infinite alternate;
    border-right: 2px solid black;
}

@media (max-width: 1199px) {
    h2 {
        font-size: 16px;
        animation: none;
        white-space: wrap;
        border-right: none;
    }
}


@keyframes write {
    0% {
        width: 0%;
    }
    90% {
        width: 77%;
    }
    100% {
        width: 77%;
    }
}

h3 {
    background-color: rgba(189, 189, 189, 0.31);
    padding: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 20px;
}

#summary {
    width: 70vw;
}